@media screen and (max-width: 600px) {
    /* common css style */
    .common-heading{
        font-size: 2rem;
    }
    .common-lightParagraph {
        font-size: 1rem;
    }
    
    .common-darkParagraph {
        font-size: 1rem;
    }

    /* coupon part css start */
    #coupon-container-area h3{
        margin: 2rem 0;
    }
    .coupon-devider{
        left: 55%;
    }

    /* ticket booking part css start */

    /* bus seat part css start */
   
    .seat-row, .seat-column{
        /* padding: 16px 40px; */
        height: 50px;
        width: 70px;
    }
    .seat-row{
        padding: 0;
        height: 50px;
        width: 70px;
    }



}